<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="mx-auto order-0">
        <a class="navbar-brand mx-auto" id="navbar-main-title" href="<%= root_path %>">
            <%= image_tag("grumps-icon.png", class: "nav-main-icon") %>
            MovieGrumps
        </a>
        <p class="text-white"><i>May be moody, rude, and unsatisfied</i></p>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
        
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
           
            <%= link_to "HOME", root_path, class: "nav-link text-white" %>
            <%= link_to "MOVIES", movies_path, class: "nav-link text-white" %>
            <%= link_to "REVIEWS", review_list_path, class: "nav-link text-white" %>
            <%= link_to "ABOUT", about_path, class: "nav-link text-white" %>
            
        </ul>
    </div>
</nav>