<%= form_with(model: review, local: true) do |form| %>
  <% if review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(review.errors.count, "error") %> prohibited this review from being saved:</h2>

      <ul>
      <% review.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="row">
    <div class="col-xl-2">
      <img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= @movie.poster_path %>" class="review-item-img">
    </div>
    <div class="col-xl-10 movie-description-container">
      <h2><%= @movie.title %></h2>
      <h5><%= @movie.tagline %></h5>
      <br>
      <p><%= @movie.overview %></p>
      <br>
      <p>Genre: 
        <% @movie.genres.each do |genre| %>
          <span class="btn btn-dark btn-sm"><%= genre.name %></span>
        <% end %>
      </p>
      <p>Release Date: <%= @movie.release_date %></p>
    </div>
  </div>

  <br>

  <div class="row new-review-form">
    <div class="col-lg-2">
      <div class="field">
        <%= form.label :user_email %>
        <br>
        <%= form.text_field :user_email %>
      </div>
    </div>
    <div class="col-lg-2">
      <div class="field">
        <%= form.label :rating %>
        <br>
        <%= form.select :rating, options_for_select([1,2,3,4]) %>
      </div>  
    </div>
    <div class="col-lg-4">
       <div class="field">
        <%= form.label :comment %>
        <br>
        <%= form.text_area :comment %>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="actions">
        <%= form.hidden_field :movie_title, :value => @movie.title %>
        <%= form.hidden_field :review_date, :value => @time %>
        <%= form.submit %>
      </div>
    </div>
    <br>
  </div>
  <br>
<% end %>
