<% @movies.each do |movie| %>

	<div class="row review-item">
		<div class="col-xl-3">
			<img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= movie.poster_path %>">
		</div>
		<div class="col-xl-9">
			<h3><%= movie.title %></h3>
			<p>Release Date: <%= movie.release_date %></p>
			<p>Genre: 
				<% movie.genre_ids.each do |genre| %>
					<span class="btn btn-dark"><%= genre %></span>
				<% end %>
			</p>

			<% @reviews.each do |review| %>
				<% if review.movie_title == movie.title %>
					<div class="movie-review-content">
						<em>"<%= review.comment %>"</em> 
						<p class="review-author-text">-<%= review.user_email %></p>
					</div>
				<% end %>
			<% end %>

			<%= link_to 'Leave a Review', new_review_path(:movie_title => movie.title) %>	
		</div>
	</div>

<% end %>