<% @movies.each do |movie| %>

	<div class="row review-item">
		<div class="col-xl-2">
			<%= link_to show_movie_path(:movie_id => movie.id) do %>
				<img src="https://image.tmdb.org/t/p/w185_and_h278_bestv2/<%= movie.poster_path %>" class="review-item-img">
			<% end %>	
		</div>
		<div class="col-xl-10">
			<h3><%= movie.title %></h3>
			<% @movie_rating = 0 %>
			<% @total_reviews = 0 %>
			<% @reviews.each do |review| %>
				<% if review.movie_title == movie.title %>
					<% @total_reviews = @total_reviews + 1 %>
					<% @movie_rating = @movie_rating + review.rating %>
				<% end %>
			<% end %>
			<div>
				<% if @total_reviews != 0 %>
					<% (@movie_rating/@total_reviews).times do %>
						<%= image_tag("grumps-review-icon.png", class: "grump-rating-icon") %>
					<% end %>
				<% end %>
			</div>
			<br>
			<p class="release-date">Release: <%= movie.release_date %></p>
			<p> 
				<% movie.genre_ids.each do |movie_genre| %>
					<% @genres.each do |genre| %>
						<% if genre.genre_id == movie_genre %>
							<span class="btn btn-secondary btn-sm"><%= genre.name %></span>
						<% end %>
					<% end %>
				<% end %>
			</p>
			<hr>

			<% @movie_reviews = [] %>
			<% @reviews.each do |review| %>
				<% if review.movie_title == movie.title %>
					<% @movie_reviews.push(review) %>
				<% end %>
			<% end %>

			<% @movie_reviews[0..2].each_with_index do |review| %>
				<% if review.movie_title == movie.title %>
					<% if review.comment.length > 0 %>
						<div class="movie-review-content">
							<em>"<%= truncate(review.comment, :length => 60) %>"</em> 
							<p class="review-author-text">-<%= truncate(review.user_email, :length => 25) %></p>
						</div>
					<% end %>
				<% end %>
			<% end %>
			<br>
			<% if @movie_reviews.length > 2 %>
				<%= link_to "More Reviews...", show_movie_path(:movie_id => movie.id) %>
			<% end %>
			<%= link_to 'Write a Review', new_review_path(:movie_id => movie.id), class: "write-review" %>	
		</div>
	</div>

<% end %>