<br>
<br>
<h3>Recent Reviews</h3>
<br>
<div class="row">
	<% @reviews.each do |review| %>
		<div class="col-lg-6 movie-review-item">
			<div class="review-rating-content">
				<% review.rating.times do %>
				<%= image_tag("grumps-review-icon.png", class: "grump-rating-icon") %>
			<% end %>
			</div>
			<div class="review-title-content">
				<p><%= review.movie_title %></p>
			</div>
			<br>
			<br>
			<br>
			<p class="review-text-content"><em><%= review.comment %></em></p>
			<br>
			<p class="review-user-content"><%= review.user_email %></p>
			<p>Posted: <%= review.review_date%></p>
		</div>
	<% end %>
</div>
<div class="pagination-container">
	<%= paginate @reviews %>
</div>
