<p id="notice"><%= notice %></p>

<div class="show-review-item">
	<div class="container review-container">
		<div class="review-info-content">
			<% @review.rating.times do %>
			<%= image_tag("grumps-review-icon.png", class: "grump-rating-icon") %>
		<% end %>
		</div>
		<div class="review-title-content">
			<p><%= @review.movie_title %></p>
		</div>
		<br>
		<br>
		<br>
		<p class="review-text-content"><em><%= @review.comment %></em></p>
		<br>
		<p class="review-user-content"><%= @review.user_email %></p>
		<p>Posted: <%= @review.review_date%></p>
			<%= link_to "Back to review list", review_list_path %>
		</div>
	</div>	
</div>
